* {
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    margin-right: 0px;
    margin-bottom: 0px;
}

footer {
    width: 100%;
    color: white;
    padding: 20px;
}


.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.container-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-footer {
    width: 100%;
    background: #C7C7C7;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
}

.copyright {
    color: #101010;
}

.information {
    text-decoration: none;
    color: #101010;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }

}
